
<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  Do you have any questions: if so, please do not hesitate to write to us
  by visiting our twitter page at <a href="http://twitter.com/eenvincible">@eenvincibile</a>
</p>